* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-size: 1.6rem;
}

body {
    min-height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/*comienzo del header*/

header {
    background-color: blanchedalmond;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

header img {
    height: 100%;
}

nav {
    background-color: rgb(234, 196, 237);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.pagina {
    border: solid 2px rgb(151, 8, 187);
}

nav a {
    color: black;
    padding: 5px 0px;
    border-bottom: 1px solid rgb(171, 156, 179);
    width: 100vw;
    text-align: center;
}

/*fin del header*/



/*comienzo del main*/

h2 {
    margin-top: 20px;
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.cont_principal {
    border: 1px solid black;
    min-width: 300px;
    min-height: 400px;
    margin-top: 60px;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 20px;
    background-color: rgba(220, 196, 167, 0.767);
    border-radius: 5px;
    height: 100%;
}

h3 {
    text-align: center;
}

.input_item {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}


input {
    height: 25px;
}





@media (min-width: 600px) {

    nav {
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav a {
        width: auto;
        margin: 10px 7px;
        border-bottom: none;
        padding: 0px 0px;
    }


    .pagina {
        border: none;
        border-bottom: 2px solid rgb(151, 8, 187);
        padding: 0px 3px;
    }



}

@media (min-width: 1100px) {



}



@media (min-width: 1500px) {

    body {
        background-size: 100% 100%;
    }

}