* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-size: 1.6rem;
}

body {
    min-height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    
}

header {
    background-color: blanchedalmond;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

header img {
    height: 100%;
}

nav {
    background-color: rgb(234, 196, 237);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.pagina {
    border: solid 2px rgb(151, 8, 187);
}

nav a {
    color: black;
    padding: 5px 0px;
    border-bottom: 1px solid rgb(171, 156, 179);
    width: 100vw;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.targeta {
    margin: 0px 20px;
    margin-top: 30px;
    width: 200px;
    background-color:beige;
    text-align: center;
    padding: 15px 15px;
    border-radius: 5%;
    border: solid 1px rgb(118, 118, 116);
    box-shadow: 0px 0px 10px rgba(39, 37, 39, 0.865);
}

.targeta img{
    width: 100%;
    height: 144px;
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
}


.targeta div{
    background-color: rgb(117, 237, 237);
    border-radius: 10px;
}





@media (min-width: 600px) {

    nav {
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav a {
        width: auto;
        margin: 10px 7px;
        border-bottom: none;
        padding: 0px 0px;
    }

    .targeta {
        margin-top: 200px;
    }

    .pagina {
        border: none;
        border-bottom: 2px solid rgb(151, 8, 187);
        padding: 0px 3px;
    }

}

@media (min-width: 1500px) {

    body {
        background-size: 100% 100%;
    }

}