* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-size: 1.6rem;
}

body {
    min-height: 100vh;
    background-image: url(/img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*comienzo del header*/

header {
    background-color: blanchedalmond;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

header img {
    height: 100%;
}

nav {
    background-color: rgb(234, 196, 237);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.pagina {
    border: solid 2px rgb(151, 8, 187);
}

nav a {
    color: black;
    padding: 5px 0px;
    border-bottom: 1px solid rgb(171, 156, 179);
    width: 100vw;
    text-align: center;
}

/*fin del header*/



/*comienzo del main*/

main {
    display: flex;
    justify-content: space-evenly;
    max-width: 100vw;
    padding-top: 30px;
    flex-wrap: wrap;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

/*formulario*/

.formulario {
    padding: 20px;
    border: 1px solid rgb(102, 102, 102);
    width: 95%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0px;
    height: 35px;
}

.boton {
    background-color: rgb(24, 198, 24);
    color: white;
    border: 1px solid;
    border-radius: 5px;
}

.boton:hover {
    background-color: rgba(24, 198, 24, 0.695);
}

/*fin del formulario*/


/*inicio de la tabla*/

table {
    border: 2px solid black;
}

td, th {
    text-align: center;
    border-bottom: solid 1px rgb(140, 138, 138);
}

th {
    border-top: 1px solid rgb(87, 87, 87);
    border-bottom: 1px solid rgb(87, 87, 87);
    margin: 0px 10px;
    width: 150px;
    height: 27px;
    padding: 5px 0px;
}

/*fin de la tabla*/




@media (min-width: 600px) {

    nav {
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav a {
        width: auto;
        margin: 10px 7px;
        border-bottom: none;
        padding: 0px 0px;
    }


    .pagina {
        border: none;
        border-bottom: 2px solid rgb(151, 8, 187);
        padding: 0px 3px;
    }



}

@media (min-width: 1100px) {

    main {
        flex-wrap: nowrap;
    }

}



@media (min-width: 1500px) {

    body {
        background-size: 100% 100%;
    }

}